* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #f4f6f9;
    color: #333;
}

.navbar {
    background: #111827;
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.card {
    background: white;
    width: 650px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

h1 {
    margin-top: 0;
}

.subtitle {
    color: #6b7280;
    margin-bottom: 25px;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 15px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

.result-box {
    margin-top: 20px;
}

.ticket-text {
    background: #f9fafb;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.result-grid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.label {
    display: block;
    color: #6b7280;
    font-size: 14px;
}

.value {
    font-size: 18px;
    font-weight: bold;
}

.high { color: #dc2626; }
.medium { color: #d97706; }
.low { color: #16a34a; }

.back-btn {
    display: block;
    text-align: center;
    padding: 12px;
    background: #e5e7eb;
    border-radius: 8px;
    text-decoration: none;
    color: #111827;
    font-weight: 600;
}
